<div class="navigation col-lg-12">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar navbar-inverse bg-primary">
    
    <div class="navbar-header">
      <a class="navbar-brand">{{ title }}</a>
    </div>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li> 
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
            HOME
          </a>
          
      
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]= "['/registro']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Registro
          </a>
        </li> 
        <li>
            <a [routerLink]= "['/login']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-log-in"></span>
              Login 
            </a>
          </li>

      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">
           {{identity.name}} 
           
         </a>
         <ul  class="dropdown-menu">
           <li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
             <a [routerLink]="['/votacion']">
              <span class="glyphicon glyphicon-tasks"></span>
              Votaciones
            </a>

           </li>
           <li>
             <a [routerLink]="['/mis-datos']">
                <span class="glyphicon glyphicon-cog"></span> 
              Mis Datos</a>
             
           </li>
           <li>
              <a class="pointer" (click)="logout()">
                  <span class="glyphicon glyphicon-log-out"></span>
                Salir</a>
             
            </li>
         </ul>
       </li>

      </ul>

    </div>
  </nav>
</div>
<div class="col-lg-11">
  <router-outlet></router-outlet>
</div>
